---
import Layout from "../layouts/Layout.astro";
import Formulario from "@/components/Formulario";
---

<Layout>
	<section class="min-h-screen grid place-content-center">
		<Formulario client:load />
	</section>
</Layout>
