---
import PaymentBill from "@/components/PaymentBill";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <section class="min-h-screen grid place-content-center">
        <PaymentBill client:load />
    </section>
</Layout>