---
import Layout from "@/layouts/Layout.astro";
import ScheduleManager from "@/components/ScheduleGestor";
import NoWhere from "@/components/NoWhere";
---

<Layout>
    <section>
        <ScheduleManager client:load />
    </section>
    <section>
        <h2>Gestión de Pruebas</h2>
        <NoWhere client:load/>
    </section>
</Layout>