---
import Layout from "@/layouts/Layout.astro";
import ScheduleManager from "@/components/ScheduleGestor";
---

<Layout>
    <section>
        <ScheduleManager client:load />
    </section>
    <section>
        <h2>Gestión de Pruebas</h2>
    </section>
</Layout>